extends layout

block content
.container
    #header
        h1 Tap the globe to get your location!
      #earth
        img(src='', alt='')
      #travelwith
        #titleTw
          h1 Travel with
        .leftbox
        #vliegtuig
        #trein
        #auto
        .rightbox
