@font-face {
    font-family: regular;
    src: url('ProximaNova-Regular.otf');
}
@font-face {
    font-family: light;
    src: url('ProximaNova-Light.otf');
}
body {
font-family: regular;}
html { 
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
    width:100%;
    height: 100%;
/*    background-image: url("../images/background.png");*/
    float: left;
	padding-bottom: 5%;
}

.earth1 {
  clear: left;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 300px;
  background: url("../images/banaan.jpg");
  border-radius: 50%;
  background-size: 1020px;
  box-shadow: inset 8px 15px 80px 15px rgba(0, 0, 0, 0.5), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 33s;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
	
-webkit-transform: rotate(12deg);
  -webkit-animation-name: rotate;
 -webkit-animation-duration:33s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
}
@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1020px 0px;

  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;

  }
  to {
    background-position: 1020px 0px;
  }
}





.earth2 {
  clear: left;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  height: 300px;
  background: url("../images/banaan.jpg");
  border-radius: 50%;
  background-size: 1020px;
  box-shadow: inset 8px 15px 80px 15px rgba(0, 0, 0, 0.5), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
  animation-name: rotate;
  animation-duration: 0.3s;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
	
-webkit-transform: rotate(12deg);
  -webkit-animation-name: rotate;
 -webkit-animation-duration:0.3s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
}
@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 1020px 0px;

  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;

  }
  to {
    background-position: 1020px 0px;
  }
}







#header {
    margin-top: 5%;
    float: left;
    height: 100%;
    width: 100%;
    clear: both;
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: rgba(41,39,80,0.9) ;
    margin-bottom: 10%;
}
h1{
text-align: center;
    font-size: 1em;
    color: #f1f1e3 ;
}h2{
    font-size: 1.5em;
    color: #f1f1e3 ;
    line-height: 100px;
	padding-left: 75px;
}
#travelwith{
	width: 100%;
	margin-top: 8%;

padding-bottom: 15px}

.box{
	width: 100%;
	margin-top: 8%;
	padding-bottom: 15px
}

#titleTw{
	width: 100%;
		margin-bottom: 5%;

	float: left;
	clear: right;
}
.leftbox{
	width: 5%;
	height: 70px;
	float: left;
}.rightbox{
	width: 5%;
	height: 70px;
	float: left;
}

#vliegtuig{
	width: 30%;
  height: 70px;
	float: left;
}

#vliegtuig > input{ /* HIDE RADIO */
  display:none;
}
#vliegtuig  > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
#vliegtuig  > input:checked + img{ /* (CHECKED) IMAGE STYLES */
content:url("../images/icons/plane-w.png");}


#auto > input{ /* HIDE RADIO */
  display:none;
}
#auto  > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
#auto  > input:checked + img{ /* (CHECKED) IMAGE STYLES */
content:url("../images/icons/car-w.png");}
#auto{
	width: 30%;
  height: 70px;
	float: left;


}#trein{
	width: 30%;
  height: 70px;
	float: left;


}

#trein > input{ /* HIDE RADIO */
  display:none;
}
#trein  > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
#trein  > input:checked + img{ /* (CHECKED) IMAGE STYLES */
content:url("../images/icons/Train-w.png");}
